NODE_ENV=development
PORT=4000
DATABASE_URL="mongodb+srv://USER:PASS@cluster0.mongodb.net/campussync?retryWrites=true&w=majority"
JWT_ACCESS_SECRET="change_me"
JWT_REFRESH_SECRET="change_me"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"
CORS_ORIGIN="http://localhost:3000"
