NODE_ENV=development
PORT=4000
DATABASE_URL="mongodb://127.0.0.1:27017/campussync"
JWT_ACCESS_SECRET="change_me"
JWT_REFRESH_SECRET="change_me"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"
CORS_ORIGIN="http://localhost:3000"
